.navbar {
    background-color: #366A55 !important;
}

.img {
    size: 300px;
    width: 300px;
    height: 300px;
}

.footcolor {
    background-image: url(https://i.imgur.com/UZTMHpX.png%27);
}

.colorfoot {
    background-color: #98BEA3;
}