<div class="container-fluid cor d-flex justify-content-center mt-5 mb-5 bgtitulo ">
    <div class="row ">
        <div class="col-md-12 ">
            <h2>APAGAR CATEGORIA</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center cor">Você tem certeza que deseja apagar essa categoria?</h4>
        </div>
    </div>




    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn bgcor1 mr-4 " >Não</button>
            <button type="submit" class="btn bgcor" >Sim</button>
        </div>
    </div>


</div>

