<div class="row d-flex justify-content-center align-items-center bg-dark titulo-pg m-0">
    <div class="col-md-12">
        <h1 class="text-center text-white">CATEGORIAS</h1>
        <h5 class="text-center text-white mt-0">Todas as Categorias</h5>
    </div>
</div>

<div class="container">

    <table class="table my-3">
        <thead>
            <tr class="bg-green text-white">
                <th scope="col">#</th>
                <th scope="col">NOME</th>
                <th scope="col">DESCRIÇÃO</th>
                <th scope="col">OPÇÕES</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let categoria of listaCategorias">
                <th class="d-flex align-items-center" scope="row">{{categoria.id}}</th>
                <td>{{categoria.nomeCat}}</td>
                <td>{{categoria.tipo}}</td>
                <div>
                    <button class="btn-green-md mr-2">Editar</button>
                    <button class="btn-cancel-md" (click)="deletarCategoria(categoria.id)">Apagar</button>
                </div>
            </tr>
        </tbody>
    </table>

</div>