.cor{
    color: #366A55;
}

.bgcor{
    background-color: #366A55;
    color: #ffffff;
}

.bgcor1{
    background-color: #DCB14E;
    color: #ffffff;
}

.bgtitulo{
    background-color: #D0EFB1;
}

.margin{
    margin: 0px;
}