<div class="container-fluid cor d-flex justify-content-center mt-5 mb-5 bgtitulo margin ">
    <div class="row ">
        <div class="col-md-12 ">
            <h2>ATUALIZE SEU PRODUTO!</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Nome do Produto*</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seu produto">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Preço*</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Preço">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Escolha uma Categoria:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Escolha uma Categoria</option>
                        <option>Acessórios</option>
                        <option>Decoração</option>
                        <option>Vestimentas</option>
                        <option>Produtos de Beleza</option>
                        <option>Papelária e Embalgens</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Escolha um Tipo:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Escolha um Tipo</option>
                        <option>Sacolas Ecológicas</option>
                        <option>Brindes</option>
                        <option>Quadros artesanais</option>
                        <option>Camisetas</option>
                        <option>Bonés</option>
                        <option>Sabonetes</option>
                        <option>Cremes </option>
                        <option>Cadernos</option>
                        <option>Calendários</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Link da Foto*</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Foto">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Link da Foto 2</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Segunda foto opcional">
                </div>
            </form>
        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Escreva uma descrição bem legal do seu produto:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/hNDWMRR.png" alt="imagem representativa" width="250px">
            </div>

        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row mt-3 mb-5">
        <div class="col-md-12">
            <button type="submit" class="mr-5 btn bgcor1">CANCELAR</button>
            <button type="submit" class="btn bgcor">SALVAR ATUALIZAÇÃO</button>
        </div>
    </div>
</div>