.titulo-pg {
    height: 50vh;
}


.titulo-filtro {
    color: #366A55;
}

.linhas-titulo,
.btn-edit {
    background-color: #366A55;
}


.text-range {
    font-size: 10pt;
    color: rgb(153, 153, 153);
}

.ponteiro:hover {
    cursor: pointer;
    user-select: none;
    background-color: #2c5746;
}

.pagination-orientation {
    display: block;
    align-items: flex-end !important;
    align-content: flex-end !important;
}

.pagination-align{
    display: flex;
    align-items: flex-end !important;
    align-content: flex-end !important;
    align-items: center;
    align-content: center;
    align-self: center;
}




/* BARRA DE ROLAGEM PERSONALIZADA */
.rolagem {
    height: 15vh;
    overflow-y: scroll;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #dfdfdfa8;
    /* border-right: 1px solid #f1b11ce5; */
    border-radius: 20px;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #366A55;
    border-radius: 20px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #2c5746;
    border-radius: 20px;
}
/* FIM */