<div class="row d-flex justify-content-center align-items-center bg-dark titulo-pg m-0">
    <div class="col-md-12">
        <h1 class="text-center text-white">PRODUTOS</h1>
        <h5 class="text-center text-white mt-0">Todos os produtos</h5>
    </div>
</div>

<div class="container my-4">

    <div class="row d-flex justify-content-end">
        <div class="col-md-12">




            <div class="d-flex align-content-end align-items-end justify-content-end">
                <pagination-controls class="pagination-align" (pageChange)="p = $event" previousLabel="Voltar"
                    nextLabel="Avançar">
                </pagination-controls>
            </div>

            <div class="row">

                <div class="col-md-3 form-cadastro py-4 titulo-filtro">
                    <h4 class="mt-4 d-flex justify-content-end titulo-filtro">POR NOME</h4>
                    <hr class="linhas-titulo mb-4 mt-0">

                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" placeholder="Pesquisar Produtos..."
                            aria-label="pesquisaProdutos" aria-describedby="button-addon2" id="input-search"
                            [ngModel]="inputFiltro">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary text-sm-center" type="button"
                                id="button-addon2">Pesquisar</button>
                        </div>
                    </div>

                    <!-- HEAD -->
                    <h4 class="mt-4 d-flex justify-content-end titulo-filtro">POR VALOR</h4>

                    <hr class="linhas-titulo mb-1 mt-0">

                    <form>
                        <div class="input-group align-content-end">
                            <div class="input-group">
                                <input type="number" aria-label="Preço Inicial" class="form-control"
                                    [(ngModel)]="precoInicio" placeholder="Valor Inicial">
                                <input type="number" aria-label="Preço Final" class="form-control"
                                    [(ngModel)]="precoFinal" placeholder="Valor Final">
                            </div>

                            <div class="d-flex align-content-end">
                                <button class="btn-cancel-sm" (click)="clearFiltro()">Limpar</button>
                                <button class="btn-green-sm mr-2 mt-2" (click)="findProdutosByPreco()">Filtrar</button>
                            </div>
                        </div>
                    </form>
                    <!-- END -->

                    <!-- CHECK-BOXES -->
                    <div id="checkboxes2" class=" align-content-center">
                        <!-- HEAD -->
                        <h4 class="mt-4 d-flex justify-content-end titulo-filtro">POR CATEGORIA</h4>

                        <hr class="linhas-titulo mb-1 mt-0">
                        <!-- END -->

                        <!-- CONTENT -->
                        <div class="rolagem">
                            <div *ngFor="let categoria of listaCategorias">
                                <label for="cat1" class="select_label d-block mb-0">
                                    <input type="checkbox" value="{{categoria.id}}" name="cat1" id="{{categoria.id}}"
                                        class="m-lg-2" (change)="cat1 = !cat1" />{{categoria.nomeCat}}
                                    <span class="select_label-icon"></span>
                                </label>
                            </div>
                        </div>
                        <!-- END -->
                    </div>

                    <!-- CHECK-BOXES -->
                    <div id="checkboxes2" class="">
                        <!-- HEAD -->
                        <h4 class="mt-4 d-flex justify-content-end titulo-filtro">POR ONG</h4>

                        <hr class="linhas-titulo mb-1 mt-0">
                        <!-- END -->

                        <!-- CONTENT -->
                        <div class="rolagem">
                            <div *ngFor="let ong of listaOngs">
                                <label for="ong + {{ong.id}}" class="select_label d-block mb-0">
                                    <input type="checkbox" value="{{ong.id}}" name="ong1" id="{{ong.id}}" class="m-lg-2"
                                        (change)="ong1 = !ong1" />{{ong.nome}}
                                    <span class="select_label-icon"></span>
                                </label>
                            </div>
                        </div>
                        <!-- END -->
                    </div>

                    <button class="btn btn-sm" (click)="filtrar()">Filtrar</button>
                </div>


                <div class="col-md-9 d-flex">

                    <div class="container-fluid my-3">
                        <div class="px-lg-0">

                            <div class="row d-flex align-content-center">
                                <!-- Gallery item -->

                                <div *ngFor="let produto of listaProdutos | paginate: { itemsPerPage: 2, currentPage: p }"
                                    class="col-md-4 mb-2">

                                    <div class="bg-white rounded shadow-sm">

                                        <img [routerLink]="['/produto-page', produto.id]" src="{{produto.foto}}" alt=""
                                            class="img-fluid ponteiro" height="250px" width="250px">

                                        <div class="p-2">
                                            <h5>
                                                <a [routerLink]="['/produto-page', produto.id]"
                                                    class="text-dark">{{produto.nomeProd}}</a>
                                            </h5>

                                            <p class="small text-muted mb-0">{{produto.descricao}}</p>

                                            <h6>
                                                <a class="text-dark">{{produto.preco | currency: 'BRL'}}</a>
                                            </h6>

                                            <div [routerLink]="['/produto-page', produto.id]"
                                                class="text-white btn-sm btn-edit d-flex align-items-center justify-content-center px-3 py-2 mt-2 text-center ponteiro rounded-pill">
                                                Comprar
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!-- End -->

                            </div>


                        </div>

                    </div>

                </div>

            </div>

            <div class="d-flex align-content-end align-items-end justify-content-end">
                <pagination-controls class="pagination-align" (pageChange)="p = $event" previousLabel="Voltar"
                    nextLabel="Avançar">
                </pagination-controls>
            </div>

        </div>
    </div>
</div>

