.img-bg {
    background-image: url('https://i.imgur.com/ThKNvGT.png');
    min-height: 600px;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px rgba(41, 41, 41, 0.192);

}

.texture{
    background-image: url('https://i.imgur.com/SkRQkCO.png');
    min-height: 100vh;
    background-size: cover;
}
