<nav class="navbar navbar-expand-lg navbar-light colormenu">
  <!--<a class="navbar-brand" href="#"></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <a [routerLink]="[('/home')]"><img src="https://i.imgur.com/S4caNKA.jpg" alt="Logo do projeto" width="70px"
            height="70px" class="img-fluid rounded-circle mr-3"></a>
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link text-light fs-16" [routerLink]="['/home']">Início</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light  fs-16" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Acessórios</a>
          <a class="dropdown-item" href="#">Cosméticos</a>
          <a class="dropdown-item" href="#">Decoração</a>
          <a class="dropdown-item" href="#">Papelaria e Embalagens</a>
          <a class="dropdown-item" href="#">Vestimentas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/produtos']">Todos os Produtos</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link text-light fs-16" href="#" id="navbarDropdown" role="button" aria-expanded="false"
          [routerLink]="['/ongs']">
          ONGs
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link text-light fs-16" role="button" [routerLink]="['/fundadores']">Nosso Time</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex justify-center">
      <input class="form-control mr-sm-2" type="text" id="nome" placeholder="O que está procurando?" aria-label="Search"
        [(ngModel)]="nomePost">
      <button class="btn bgcor my-2 my-sm-0 mr-4" type="submit">Pesquisar</button>
    </form>
  </div>

  <div><a class="btn btn-outline-light btn-floating m-1" href="" target="_blank"
      style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-bag"></i></a></div>

  <div>
    <a [routerLink]="(['/produto'])" class="btn btn-outline-light btn-floating m-1" style="border-radius: 100%; border-width: 2px;"
      role="button">
      <i class="fa fa-user-o" aria-hidden="true" ></i>
    </a>
  </div>
</nav>