<div class="container-fluid cor d-flex justify-content-center mt-5 mb-5 bgtitulo ">
    <div class="row ">
        <div class="col-md-12 ">
            <h2>ATUALIZE SUA CATEGORIA!</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row d-flex justify-content-center">
        
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nome da Categoria*</label>
                        <input type="text" class="form-control"
                            id="exampleFormControlInput1" placeholder="Seu produto">
                    </div>
                </form>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Escreva uma descrição para sua categoria:</label>
                    <textarea  class="form-control" id="exampleFormControlTextarea1"
                        rows="9"></textarea>
                </div>
            </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <img src="https://i.imgur.com/qU9k14f.png" alt="imagem representativa" width="350px">
                    </div>
                </div>
            
        </div>
    </div>


<div class="container d-flex justify-content-center">
    <div class="row mt-4 mb-5">
        <div class="col-md-12">
            <button type="submit" class="mr-5 btn bgcor1">CANCELAR</button>
            <button  type="submit" class="btn bgcor">SALVAR ATUALIZAÇÃO</button>
        </div>
    </div>
</div>