<div class="container-fluid cor d-flex justify-content-center mt-5 mb-5 bgtitulo ">
    <div class="row ">
        <div class="col-md-12 ">
            <h2>FUNDADORES DO ECO-MMERCE</h2>
        </div>
    </div>
</div>


<div class="container-fluid ">
    <div class="row d-flex justify-content-center ">

         <div class="col-md-3 mr-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Betina Machado</h3>
            <div class="d-flex justify-content-center m-0 p-0 ">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>


        <div class="col-md-3 mr-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Felipe Marques</h3>
            <div class="d-flex justify-content-center m-0 p-0 ">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>


        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Juliana Souza</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>

    </div>
</div>




<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center ">

         <div class="col-md-3 mr-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Luiz Fabio</h3>
            <div class="d-flex justify-content-center m-0 p-0 ">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>


        <div class="col-md-3 mr-5 ">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Taís Brito</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>


        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Thiago Fonseca</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>

    </div>
</div>



<div class="container-fluid mt-5 mb-5">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-3 mr-5"> 

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Vínicius Barbosa</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora apaixonada pelo Back-end e estudante de Análise e
                Desenvolvimento de Sistemas!</p>
        </div>

    </div>
</div>