<div class="container-fluid cor d-flex justify-content-center mt-5 mb-5 bgtitulo ">
    <div class="row ">
        <div class="col-md-12 ">
            <h2>FUNDADORES DO ECO-MMERCE</h2>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-md-3 mr-5 ">
            <div class="col-md-12 ">

                <div class="flip-card">
                    <div class=" flip-card-inner">
                        <div class="flip-card-front">
                            <img class="img" src="https://i.imgur.com/7xdsb4C.jpg?1" alt=""
                                style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <img class="img" src="https://i.imgur.com/HWXcXCF.jpg?1" alt=""
                                style="width:300px;height:300px;">
                        </div>
                    </div>
                </div>

                <h3 class="text-center cor m-0 mt-3">Betina Machado</h3>

                <div class="d-flex justify-content-center m-0 p-0 ">
                    <ul class="social">
                        <li>
                            <a href="https://www.linkedin.com/in/betina-machado/" target="_blank">
                                <i class="bi bi-linkedin icon m-0"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/BetinaMachado" target="_blank">
                                <i class="bi bi-github icon "></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text text-center">Desenvolvedora Java FullStack, Advogada em transição de carreira, Gaúcha, organizada e focada, residindo em São Paulo/SP!
                </p>
            </div>
        </div>


        <div class="col-md-3 mr-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/1DY7U9G.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/1DY7U9G.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Felipe Marques</h3>
            <div class="d-flex justify-content-center m-0 p-0 ">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/felipe-lopes-marques-3979b4208/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/FelipeLopesMarques" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedor Java FullStack, futuro Front-end, Embu das Artes-SP, determinado e criativo!</p>
        </div>


        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/ryHfGEx.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lcyuPcs.png?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Juliana Souza</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-souza-46a36b197/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/JulianaR23" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora Java FullStack, interessada pelo Back-end e atualmente cursando Análise e Desenvolvimento de Sistemas!
            </p>
        </div>

    </div>
</div>




<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-3 mr-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/s8RcI6y.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/qW9gArR.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Luiz Fabio</h3>
            <div class="d-flex justify-content-center m-0 p-0 ">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/luiz-fabio-688587223/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/LuizFabiodoCarmo" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedor Java FullStack,futuro Front-end, em transição de carreira, proativo e comunicativo!</p>
        </div>


        <div class="col-md-3 mr-5 ">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/lTQ4TXJ.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/lTQ4TXJ.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Taís Brito</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/ta%C3%ADs-brito-costa-261940222/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/TaisBritoCosta" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedora Full Stack Junior , busco a cada dia  atualizar  os conhecimentos para manter minha linha de profissionalismo em ascensão.!</p>
        </div>


        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/MgHpfGU.png" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/MgHpfGU.png" alt="" style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Thiago Fonseca</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/thiago-fonseca-5916151b8/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/ThiagooFonseca" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedor Java FullStack, interessado pelo Front-end, cursando Gestão Tecnologia da Informação, criatividade e autenticidade me definem!
            </p>
        </div>

    </div>
</div>



<div class="container-fluid mt-5 mb-5">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-3 mr-5">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img" src="https://i.imgur.com/1wbATCb.jpg" alt="" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <img class="img" src="https://i.imgur.com/nUqmlzF.jpg?1" alt=""
                            style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
            <h3 class="text-center cor m-0 mt-3">Vínicius Barbosa</h3>
            <div class="d-flex justify-content-center m-0 p-0">
                <ul class="social">
                    <li>
                        <a href="https://www.linkedin.com/in/vinicius-bmuniz/" target="_blank">
                            <i class="bi bi-linkedin icon m-0"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/Vinicius-bmuniz" target="_blank">
                            <i class="bi bi-github icon "></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="card-text text-center">Desenvolvedor Java Fullstack, apaixonado pelo empreendedorismo, tecnologia
                e finanças!</p>
        </div>

    </div>
</div>