/* INPUT ESTILIZADO LABEL */
.input-style-l {
    position: relative;
    width: 100%;
    height: 40px;
}

.input-style-l input {
    background-color: rgba(190, 30, 30, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

.input-style-l label {
    position: absolute;
    display: flex;
    left: 0px;
    top: 7px;
    pointer-events: none;
    transition: 0.3s;
    padding: 0px 10px;
    color: #6c757d;
}

.input-style-l input:focus~label,
.input-style-l input:valid~label {
    color: #17a2b8;
    transform: translateX(18px) translateY(-16.5px);
    font-size: 0.85em;
    border-left: 1px solid #17a2b8;
    border-right: 1px solid #17a2b8;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.input-style-l input:focus,
.input-style-l input:valid {
    border: 1px solid #17a2b8;
}


/* INPUT ESTILIZADO */
.input-style {
    position: relative;
    width: 100%;
    height: 40px;
}

.input-style>input {
    background-color: rgba(190, 30, 30, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}

.input-style>span {
    position: absolute;
    display: flex;
    left: 0px;
    top: 7px;
    pointer-events: none;
    transition: 0.3s;
    padding: 0px 10px;
    color: #6c757d;
}

.input-style input:focus~span,
.input-style input:valid~span {
    color: #17a2b8;
    transform: translateX(18px) translateY(-16.5px);
    font-size: 0.85em;
    border-left: 1px solid #17a2b8;
    border-right: 1px solid #17a2b8;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.input-style input:focus,
.input-style input:valid {
    border: 1px solid #17a2b8;
}

.form-cadastro {
    background-color: rgb(255, 255, 255);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(131, 131, 131, 0.267);
}



/* BOTÕES PERSONALIZADOS */
.btn-green {
    background-color: #366A55;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
}

.btn-green:hover {
    background-color: #2C5746;
    transform: scale(1.03);
}

.btn-cancel {
    background-color: #DCB14E;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
}

.btn-cancel:hover {
    background-color: #cea544;
    transform: scale(1.03);
}

        /* BOTÃO GRANDE */
.btn-green-gd {
    background-color: #366A55;
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 10px 20px;
    font-size: 14pt;
}

.btn-green-gd:hover {
    background-color: #2C5746;
    transform: scale(1.03);
}

.btn-cancel-gd {
    background-color: #DCB14E;
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 10px 20px;
    font-size: 14pt;
}

.btn-cancel-gd:hover {
    background-color: #cea544;
    transform: scale(1.03);
}

/* BOTÃO PEQUENO */
.btn-green-sm {
    background-color: #366A55;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
    font-size: 10pt;
}

.btn-green-sm:hover {
    background-color: #2C5746;
    transform: scale(1.03);
}

.btn-cancel-sm {
    background-color: #DCB14E;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
    font-size: 10pt;

}

.btn-cancel-sm:hover {
    background-color: #cea544;
    transform: scale(1.03);
}


/* ====================FIM==================== */

/* BARRA DE ROLAGEM PERSONALIZADA */
.rolagem {
    height: 15vh;
    overflow-y: scroll;
}

/* Largura da barra de rolagem Vertical */
::-webkit-scrollbar {
    width: 10px;
}

/* Altura da barra de rolagem Horizontal */
::-webkit-scrollbar:horizontal {
    height: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #dfdfdfa8;
    /* border-right: 1px solid #f1b11ce5; */
    border-radius: 20px;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #366A55;
    border-radius: 20px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #2c5746;
    border-radius: 20px;
}
/* ====================FIM==================== */




/* RETIRAR FUNDO DO AUTOCOMPLETAR */

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(253, 252, 252) inset;
}

/* ====================FIM==================== */