<div class="row d-flex justify-content-center align-items-center bg-dark titulo-pg">
    <div class="col-md-12">
        <h1 class="text-center text-white m-2">PRODUTOS</h1>
        <h5 class="text-center text-white mt-0">Todos os produtos</h5>
    </div>
</div>

<div class="container my-4">
    <div class="row d-flex justify-content-end">
        <div class="col-md-12">

            <div class="d-flex align-content-end align-items-end justify-content-end">
                <pagination-controls class="pagination-align" (pageChange)="p = $event" previousLabel="Voltar"
                    nextLabel="Avançar">
                </pagination-controls>
            </div>

            <div class="row">
                <div class="col-md-3 form-cadastro py-4 titulo-filtro">
                    <h4 class="mt-4 d-flex justify-content-end titulo-filtro">CADASTRAR</h4>
                    <hr class="linhas-titulo mb-4 mt-0">

                    <div class="input-group d-block">
                        <button
                            class="btn-green-sm align-items-center justify-content-center px-3 py-2 mt-2 text-center ponteiro"
                            [routerLink]="(['/cadastrarProduto'])">CADASTRAR PRODUTOS</button>
                        <button
                            class="btn-green-sm align-items-center justify-content-center px-3 py-2 mt-2 text-center ponteiro"
                            [routerLink]="(['/cadastrarCategoria'])">CADASTRAR CATEGORIAS</button>
                    </div>
                </div>

                <div class="col-md-9 d-flex">

                    <div class="container-fluid my-3">
                        <div class="px-lg-0">

                            <div class="row d-flex align-content-center">
                                <!-- Gallery item -->

                                <div *ngFor="let produto of user.produto| paginate: { itemsPerPage: 2, currentPage: p }"
                                    class="col-md-4 mb-2">

                                    <div class="bg-white rounded shadow-sm">

                                        <img [routerLink]="['/produto-page', produto.id]" src="{{produto.foto}}" alt=""
                                            class="img-fluid ponteiro" height="250px" width="250px">

                                        <div class="p-2">
                                            <h5>
                                                <a [routerLink]="['/produto-page', produto.id]"
                                                    class="text-dark">{{produto.nomeProd}}</a>
                                            </h5>

                                            <p class="small text-muted mb-0">{{produto.descricao}}</p>

                                            <h6>
                                                <a class="text-dark">{{produto.preco | currency: 'BRL'}}</a>
                                            </h6>

                                            <div [routerLink]="['/atualizarProduto/', produto.id]"
                                                class="text-white btn-sm btn-edit d-flex align-items-center justify-content-center px-3 py-2 mt-2 text-center ponteiro rounded-pill">
                                                ATUALIZAR
                                            </div>

                                            <div [routerLink]="['deletarProduto/', produto.id]"
                                                class="text-white btn-sm btn-edit d-flex align-items-center justify-content-center px-3 py-2 mt-2 text-center ponteiro rounded-pill">
                                                DELETAR
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End -->

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="d-flex align-content-end align-items-end justify-content-end">
                <pagination-controls class="pagination-align" (pageChange)="p = $event" previousLabel="Voltar"
                    nextLabel="Avançar">
                </pagination-controls>
            </div>



        </div>
    </div>
</div>