.titulo-pg {
    height: 50vh;
}

.titulo-filtro {
    color: #366A55;
}

.linhas-titulo,
.btn-edit {
    background-color: #366A55;
}

.text-range {
    font-size: 10pt;
    color: rgb(153, 153, 153);
}

.ponteiro:hover {
    cursor: pointer;
    user-select: none;
    background-color: #2c5746;
}

.pagination-orientation {
    display: block;
    align-items: flex-end !important;
    align-content: flex-end !important;
}